/**************** not sure yet ******************/
h1,table,td{
    color: rgb(40, 42, 53);
    font-style: normal;
    font-size: x-large;
}
ul{
    list-style-type: none;
}
body{   background-color: rgb(233, 193, 184);
}

table,td{
    color: rgb(125, 99, 88);
    font-style: oblique;
     font-size: x-large;
}
table img{
    box-shadow: 0px 0px 30px rgb(125, 99, 88);

}
.left{
   font-weight: bold;
   font-size: x-large;
}
/***************end of not sure yet***********/


/*********************************** main page css *****************************/

/*the body element of the main scenttopia pahe */
#main_page{
   position:absolute;
   width: 100%;
   height: 100%;
   top:0%;
   left:0%;
   
   background-color: rgb(233, 193, 184);
}

#main_page{
   position:absolute;
   width: 100%;
   top:0%;
   left:0%;
   
   background-color: rgb(233, 193, 184);
}

/*********************************** end of main page css **********************/

/***************** cross section css **********************/
.headings
{
    color: rgb(125, 99, 88);
    font-style: oblique;
     font-size: x-large;
   background-color: rgb(214, 149, 134);
}

/****************** end of cross section css **************/

/* footer section css*/
.footer {
     position:relative;
   background-color: rgb(214, 149, 134);
   width: 100%;
   height: 150px; 
   bottom:0%;
       clear: both;

}

/*header sections css*/
.header {
   background-color: rgb(214, 149, 134);
   width: 100%;
   height: 50px;
   bottom:0%;
   
}

.header_icons
{
    padding: 10px;
    margin: 0;
}
.header_icons_2
{
    padding: 10px;
    margin: 0;
}

.header_icons:hover
{
   cursor: pointer;
}
.header_icons_2:hover
{
      cursor: pointer;

}


/*main mapge logo image */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*********************** chosen product css ******************************/
.selection
{
    background-color: rgb(233, 193, 184);
   
    
}
.buttons
{
        background-color: rgb(233, 193, 184);

}
.buttons:hover
{
        background-color: rgb(214, 149, 134);
        cursor: pointer;

}
    



#df, .menu_pics
{
      transition: transform .2s; /* Animation */

}
#df:hover, .menu_pics:hover
{
      transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */

}
#addToCart :hover
{
    cursor: pointer;
}


/* second page drop down candle sizes*/
/* spacer div between sections*/
.spacer_div
{
     width: 100%;
   height: 60px;
   bottom:0%;
}
.candle_sizes
{
   margin: auto;
  color: rgb(125, 99, 88);
    font-style: normal;
    font-size: medium;
    outline-color: rgb(214, 149, 134);
   background-color: rgb(233, 193, 184);

}
#divDesc
{
   margin: auto;
  width: 50%;
 
}
#namest
{
   margin: auto;
  width: 50%;
  color: rgb(125, 99, 88);
    font-style: oblique;
 
}
#main_section_product
{
    /*display: flex;*/
    margin: 0 auto;
  display: flex;
  justify-content: center;
  
}
.main_section_product
{
    /*display: flex;*/
    margin: 0 auto;
  display: flex;
  justify-content: center;
  
}


#product_description
{
 

    vertical-align:top;
    
    
   display: inline-block;
   text-align: center;
  height: 500px;
    width: 500px;
    padding: 0px;
  
}
.product_description
{
 

    vertical-align:top;
    
    
   display: inline-block;
   text-align: center;
  height: 500px;
    width: 500px;
    padding: 0px;
  
}
.product_description_body
{
    position: relative;
    top:-20px;
    left:0px;
    width: 500px;
    
    color: rgb(125, 99, 88);
    font-style: normal;
    font-size: normal;
    background-color: rgb(242, 200, 191);
    
   
    
}
#sizes_menu
{
     position: relative;
    top:-20px;
    left:0px;
   margin: auto;
  /*width: 50%;*/
  width: 500px;
  color: rgb(125, 99, 88);
    font-style: normal;
    background-color: rgb(233, 193, 184);
text-align: left;
 
}
#noSize
{
     font-style:normal;
    font-size: medium;
    font-stretch: condensed;
    font-weight: 100;
}
    


#scent_summary
{
    font-size: medium;
    font-style: normal;
    text-align: left;
        color: rgb(125, 99, 88);
        
        
      text-justify: inter-word;
    
}
.breakers
{
    height: 1px;
    background-color: rgb(125, 99, 88);
    border: none;
}
.lefters
{
     text-align: left;
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    padding-left: 10px;
    color: rgb(125, 99, 88);

    
    
}
.lefters_2
{
    font-style: normal;
    font-size: medium;
    font-weight: bold;
    color: rgb(125, 99, 88);

    
    
}
.scent_profile
{
    text-justify: inter-word;
}
.righters
{
    font-size: medium;
    font-style: normal;
    text-align: center;
        color: rgb(125, 99, 88);

}
#notes
{
    text-align: left;
    list-style-type: circle;
}
#product_display
{

    vertical-align: top;
    display: inline-block;
    height: relative;
    width: 500px;
    padding: 20px;
    
}
#image_and_name
{
    /*
     width: 50%;
   height: 100%;
   left: 0%;
   display: inline-block
   */
    
}

/*********************** end of chosen products css ***********************/


/******************* old css  *******************************************/
#left_frame{
   position:absolute;
   width: 100%;
   height: 100%;
   top:0%;
   left:0%;
   
   background-color: rgb(233, 193, 184);
}


#top_right_frame{
   position:absolute;
   width: 50%;
   height: 50%;
   top:0%;
   right:0%;
   background-color: rgb(233, 193, 184);
}

#bottom_right_frame{
   position:absolute;
   width: 50%;
   height: 50%;
   bottom:0%;
   right:0%;
   background-color: rgb(233, 193, 184);
}
#confirmation_heading
{
      font-weight: bold;
    font-size: large;
    font-style: normal;
}

.top{
    font-weight: bold;
    font-size: large;
}
.top_checkout,.price_final
{
     font-weight: bold;
    font-size: medium;
    font-style: normal;
}
.bottom_checkout
{
    font-size: medium;
}
.bottom{
    font-size: medium;
}
.camilla
{
    width: 250px;
}
.vargas{
     font-style: normal;
     font-weight: bold;
   font-size: medium;
}

#subBtn,#clearBtn,#checkOutBtn,#purchase_btn
{
    background-color: rgb(250, 225, 44);
    font-weight: bold;
}

h3,h6
{
    display: none;
}
#clear{
    float: left;
    margin-left: 50px;
    
}
#checkout{
    float: left;
        margin-left: 50px;

}
#checkOutTable
{
    width: 60%;

       font-style: normal;
   font-size: medium;
   

}
#cartSumm
{
      font-style: normal;
     font-weight: bold;
   font-size: medium;
   

}
/******************* end ofv old css  *******************************************/